<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="row">
  <div class="col-lg-3">
<div class="vertical-menu" style="margin-top:60px">
  <br>

  <a style="text-align: center;"><i class='fas fa-user-tie' style='font-size:56px ;'></i></a>
  <a href="dashboard" class="active">Admin Home</a>
  <a href="manageTrain">Manage Train</a>
  <a href="manageReservation">Manage Reservation</a>
  <a href="viewPayment">Manage Payment</a>
  
</div>
</div>
<div class="col-lg-9">
<div class="container text-center" style="margin-top:50px;">
  <div class="row">
    <div class="col-lg-6" style="border: 10px; border-color: black;" >
     <h1>Manage Train Information</h1> 
     <br>
     <i class='fas fa-train' style='font-size:48px; border-radius: 30%;'></i>
     <br>
     <br>
     <button class="btn btn-primary"><a href="manageTrain" style="color: white;">Manage Train Info</a></button>
    </div>
    <div class="col-lg-6" >
      <h1>Manage Reservation Information </h1> 
      <br>
      <i class='fas fa-registered' style='font-size:48px;'></i>
      <br>
      <br>
      <button class="btn btn-primary"><a href="manageReservation" style="color: white;"> Manage Reservations </a></button>
    </div>
  </div>
</div>
</div>
</div>