<!DOCTYPE html>
<html>
<head>
    <title>Railway Reservation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container"> 
<table class="table table-stripped table-bordered ">
    <thead>
        <tr>
            <th>trainNo</th>
            <th>trainName</th>
            <th>startLocation</th>
            <th>destination</th>
            <th>ticketFair</th>
            <th>availableDate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let train of trains">
        <td>{{train.trainNo}}</td>
        <td>{{train.trainName}}</td>
        <td>{{train.startLocation}}</td>
        <td>{{train.destination}}</td>
        <td>{{train.ticketFair}}</td>
        <td>{{train.availableDate}}</td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>